{% extends "base.html" %}

{% block content %}

<h2 align="center">Все предложения работы</h2>

<h4>Работа № {{ job.id }}</h4>

<ul>
    <li>Краткое описание работы: {{ job.description }}</li>
    <li>Адрес: {{ job.address }}</li>
    <li>Оплата за услугу: {{ job.salary }} руб.</li>
    <li>Когда приходить: {{ job.date }}</li>
    <li>Доп. информация: {{ job.info }}</li>
</ul>
<ul>Работодатель
    <li>{{ employer.surname }} {{ employer.name }}</li>
    <li>Email: {{ employer.email }}</li>
    <li>Информация: {{ employer.info }}</li>
</ul>


<form action="" method="POST">
    {% if current_user.is_authenticated and current_user.employment == 'Рабочий' and job.employee == 0 %}
    <p>{{ form.submit_ready(type="submit", class="btn btn-primary") }}</p>

    {% elif current_user.is_authenticated and current_user.id == job.employee %}
    <div>
        <p>Вы уже готовы приступить к работе</p>
    </div>
    <p>{{ form.submit_refuse(type="submit", class="btn btn-primary") }}</p>
    {% elif current_user.is_authenticated and current_user.id != job.employee and job.employee != 0 %}
    <div>
        <p>Эту услугу уже кто-то предоствляет</p>
    </div>
    {% endif %}
    {{message}}
</form>

{% endblock %}
