{% extends "base.html" %}

{% block content %}

<h2 class="index-title">Все предложения работы</h2>

<form action="" method="POST">
    <p>
        {{ form.my_address.label }}<br>
        {{ form.my_address(class="index-form") }}<br>
        {% for error in form.my_address.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>{{ form.submit_address(type="submit", class="index_button") }}</p>

    <p>
        {{ form.sorting.label }}<br>
        {{ form.sorting(class="index-form") }}<br>
        {% for error in form.sorting.errors %}
    <p content="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit_sort(type="submit", class="index_button") }}</p>

    {{message}}
</form>
<img class="map" src="/{{ image }}">


{% for item in jobs%}
{% if item.is_finished == False %}
<div class="index-job">
<h4>Работа № {{ item.id }}</h4>

<ul>
    <li>Краткое описание работы: {{ item.description }}</li>
    <li>Адрес: {{ item.address }}</li>
    <li>Оплата за услугу: {{ item.salary }} руб.</li>
    <li>Когда приходить: {{ item.date }}</li>
</ul>

{% if current_user.is_authenticated and current_user.id == item.employer %}
<div>
    <a href="/addjob/{{ item.id }}" class="btn btn-warning" style="margin-bottom: 30px">Редактировать</a>
    <a href="/job_delete/{{ item.id }}" class="btn btn-danger" style="margin-bottom: 30px">Удалить</a>
</div>
{% endif %}

{% if current_user.is_authenticated and current_user.employment == 'Рабочий' %}
<div>
    <a href="/about_job/{{ item.id }}" class="btn btn-warning" style="margin-bottom: 30px">Подробнее</a>
</div>
{% endif %}
</div>
{% endif %}
{% endfor %}


{% endblock %}