{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated and current_user.employment == 'Работодатель' %}
<a href="addjob" class="btn btn-secondary" style="margin-top: 20px">Добавить работу</a>

<h2 align="center">Заказанные услуги</h2>

{% for item in jobs%}
<h4>Работа № {{ item.id }}</h4>
<table class="table table-striped">
    <thead>
    <tr class="table-active">
        <th scope="col">Краткое описание работы</th>
        <th scope="col">Адрес</th>
        <th scope="col">Оплата за услугу (в рублях)</th>
        <th scope="col">Дата и время, когда нужно прийти</th>
        <th scope="col">Доп. информация</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ item.description }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.salary }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.info }}</td>
    </tr>
    </tbody>
</table>
<div>
    <a href="/addjob/{{ item.id }}" class="btn btn-warning" style="margin-bottom: 30px">Редактировать</a>
    <a href="/job_delete/{{ item.id }}" class="btn btn-danger" style="margin-bottom: 30px">Удалить</a>
</div>

{% if item.employee != 0 %}
<div>
    <p>За работу взялся (взялась, взялось, взялись):</p>
    <p>{{ users[item.employee].surname }} {{ users[item.employee].name}}</p>
    {% if users[item.employee].info != '' %}
    <p>Доп.информация: {{ users[item.employee].info }}</p>
    {% endif %}
</div>
{% endif %}
{% endfor %}


<h2 align="center">Предоставленные мне услуги</h2>
{% if jobs_done == [] %}
<h4>Пока что таких работ нет</h4>
{% endif %}
{% for item in jobs_done %}
<h4>Работа № {{ item.id }}</h4>
<table class="table table-striped">
    <thead>
    <tr class="table-active">
        <th scope="col">Краткое описание работы</th>
        <th scope="col">Адрес</th>
        <th scope="col">Оплата за услугу (в рублях)</th>
        <th scope="col">Дата и время, когда нужно прийти</th>
        <th scope="col">Доп. информация</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ item.description }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.salary }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.info }}</td>
    </tr>
    </tbody>
</table>

{% if item.employee != 0 %}
<div>
    <p>Услугу предоставил (предоставила, предоставило, предоставили):</p>
    <p>{{ users[item.employee].surname }} {{ users[item.employee].name}}</p>
    {% if users[item.employee].info != '' %}
    <p>Доп.информация: {{ users[item.employee].info }}</p>
    {% endif %}
</div>
{% endif %}

{% endfor %}
{% endif %}

{% endblock %}